



<div fxLayout="row" fxLayout.xs="column" fxFlex fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="18" fxFlexOffset="20px" class="p-fixed" >
        <h3 rmsHighLight [highlightColor]="'orange'">Filter</h3>
        <rms-filter [filterList]="filterList" (filterChange)="filterChange($event)"></rms-filter>
    </div>
    <div fxLayout="column" fxFlex="80">
        <div fxLayout="column">
            <div fxLayout="row wrap">
                <h3 fxFlex="100">Selected Filters</h3>
                <ng-container *ngIf="selectedFilter.length > 0">
                    <rms-chips *ngFor="let item of selectedFilter" [chipsInput]="item" (removeFilter)="filterChange($event)"></rms-chips>
                </ng-container>
            </div>
            <div fxLayoutAlign="space-between center" class="search-sort">
                
               <div class="search">
                   <label for="search">Search By Name</label>
                    <input type="text" id="search" placeholder="" [(ngModel)]="searchName">
                    <button color="primary" (click)="getAllCharacters(page.currentpage)">Search</button>
               </div>
               <div class="sort">
                <select (change)="sortOrder = $event.target.value" #sortVar>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                  </select>
               </div>
            </div>
        </div>
        <div fxLayout="row wrap" class="cards" fxFlex>
            <div fxFlex="24" fxFlex.xs="47" class="card" *ngFor="let char of allCharacters | sort:'id': sortOrder">
               <!-- <p>{{char.name}}</p> -->
               <div class="card-header">
                   <div class="card-image">
                       <img [src]="char.image" alt="{{char.image}}">
                   </div>
                   <div class="card-title">
                       <h2>{{char.name}}</h2>
                       <p>id: {{char.id}} - {{ char.created| elaspedTime}}</p>
                   </div>
               </div>
               <div class="card-info">
                    <div class="list-item">
                        <span>STATUS</span>
                        <p>{{char.status}}</p>
                    </div>
                    <div class="list-item">
                        <span>SPECIES</span>
                        <p>{{char.species}}</p>
                    </div>
                    <div class="list-item">
                        <span>GENDER</span>
                        <p>{{char.gender}}</p>
                    </div>
                    <div class="list-item">
                        <span>ORIGIN</span>
                        <p>{{char.origin.name}}</p>
                    </div>
                    <div class="list-item">
                        <span>LAST LOCATION</span>
                        <p>{{char.location.name}}</p>
                    </div>
               </div>
            </div>
                <!-- <mat-card *ngFor="let char of allCharacters" fxFlex="24" fxFlex.xs="48" fxFlex.sm="31">
                        <img mat-card-image [src]="char.image" alt="{{char.image}}">
                        <div class="title-custom">
                            <span>{{char.name}}/{{char.episode.length}}</span>
                        </div>
                    <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span>STATUS</span>
                            <span class="spacer"></span>
                            <span>{{char.status}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <span>SPECIES</span>
                            <span class="spacer"></span>
                            <span>{{char.species}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <span>GENDER</span>
                            <span class="spacer"></span>
                            <span>{{char.gender}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <span>ORIGIN</span>
                            <span class="spacer"></span>
                            <span>{{char.origin.name}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <span>LAST LOCATION</span>
                            <span class="spacer"></span>
                            <span>{{char.location.name}}</span>
                        </mat-list-item>
                      </mat-list>
                </mat-card-content>        
            </mat-card> -->
        </div>
        <div fxLayoutAlign="end">
            <rms-pagination [currentPage]="page.currentpage" [totalItemsCount]="page.count" [perPage]="page.perPage" [pagesToShow]="page.pages > 4 ? 4: page.pages"
             (prev)="goToPage($event)" (next)="goToPage($event)" (goPage)="goToPage($event)"></rms-pagination>
        </div>
    </div>
    
</div>