// .image-wrap{
//     position: relative;
//     // margin: 0 -16px 0 -16px;
//     // img{
//     //     margin: 0 !important;
//     // }
    .title-custom{
        // width: calc(100% + 32px);
        margin: 0 -16px 0 -16px;
        padding: 10px;
        // position: absolute;
        // width: 100%;
        // left: 0;
        // bottom: 0;
        // background: rgba(0,0,0,.5);
        // color: #fff;
        h6{
            margin: 0;
        }
    }
// }

.mat-card-image{
    margin-bottom: 0 !important;
}
.mat-card{
    margin-bottom: 10px;
}
.mat-list-item{
    border-bottom: 1px solid rgba(0,0,0,.12);
    &:last-child{
        border-bottom: none;
    }
    span{
        font-size: 11px;
    }
    
}
.mat-list-base .mat-list-item .mat-list-item-content{
    padding: 0 !important;
}
.spacer {
    flex: 1 1 auto;
  }

//   @media(min-width:700px){
//       .p-fixed{
          
//       }
//   }
.cards{
    background-color: rgb(32, 35, 41);
    padding: 1rem;
    
    .card{
        margin-right: 7px;
      max-width: 300px;
      margin-bottom: 0.625rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 0.625rem;
      overflow: hidden;
      
      .card-header{
          position: relative;
          .card-image{
            width: 100%;
            background: rgb(32, 35, 41);
            img{
                width: 100%;
                display: block;
                height: auto;
                opacity: 1;
    margin: 0px;
    transition: opacity 0.5s ease 0s;
            }
          }
        .card-title{
            width: 100%;
            opacity: 0.8;
            position: absolute;
            bottom: 0px;
            background: rgb(32, 35, 41);
            padding: 0.625rem;
            color: white;
              h2{
                color: rgb(245, 245, 245);
    font-size: 1.625rem;
    font-weight: 400;
    font-stretch: expanded;
    margin: 0px;
              }
              p{
                color: rgb(187, 187, 187);
                font-size: 0.875rem;
                margin: 0px;
              }
          }
      }
      .card-info{
          background-color: rgb(51,51,51);
          color: rgb(255, 152, 0);
          padding: 1.25rem;
          height: 100%;
          .list-item{
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0.75rem 0px 0.375rem;
            border-bottom: 1px solid rgb(68, 68, 68);
            span{
                font-size: 0.7rem;
    font-weight: 400;
    color: rgb(158, 158, 158);
            }
            p{
                width: 100%;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: right;
    padding: 0px;
    margin: 0px;
            }
            &:last-child{
                border-bottom: none;
            }
          }
      }
    }
}
@media(max-width:400px){
    .cards{
        padding: .6rem;
    }
}
.search-sort{
    padding-bottom: 15px;
    .search{
        label{
            display: block;
        }
        input{
            height: 30px !important;
        }
        button{
            height: 36px !important;
        }
    }
    .sort{
        select{
            height: 36px;
    top: 10px;
    position: relative;

        }
    }
}
