.chip{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: gray;
    margin-right: 10px;
    margin-bottom: 10px;
}
.mat-icon-button{
    line-height: 30px;
    width: 30px;
    height: 30px;
}