.f-container{
    border: 1px solid #7d7878;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}
h4{
    margin: 0;
}
.mat-checkbox-layout .mat-checkbox-label{
    white-space: pre-line !important;
}